<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <form method="post" action="/">
        First name:<br>
        <input type="number" step="any" name="a_vnos" value="">
        <br><br>
        <select name="operVnos">
            <option>Izberi operacijo</option>
            <option value="+">seštevanje</option>
            <option value="-">odštevanje</option>
            <option value="*">množenje</option>
            <option value="/">deljenje</option>
        </select>
        <br><br>
        Last name:<br>
        <input type="number" step="any" name="b_vnos" value="">
        <br><br>
        <input type="submit" value="izračun">


        <p>{{a_vnos}} {{operVnos}} {{b_vnos}}</p>

        {% if rezultat == 0 %}
            <p> {{sporocilo}} 0. </p>
        {% else %}
            <p> {{sporocilo}} {{rezultat}}. </p>
        {% endif %}

        <!-- {% if rezultat %} <p>{{rezultat}}</p> {% else %} {% endif %} -->
        <!-- {% if rezultat %} <p>{{a_vnos}} {{operVnos}} {{b_vnos}} = {{rezultat}}</p> {% else %} {% endif %} -->

    </form>


</body>
</html>